entrypoint = "src/server.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "src/server.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 25548
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 37335
externalPort = 3000
exposeLocalhost = true
